* {
    box-sizing: border-box;
}
html
{
    font-size: 32px;
}

body
{
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #fafafa;
    font-family: 'Caudex', serif;
} 

.login{
    font-size: 24px;
}

.login-box
{ 
    margin: auto; 
    border-radius: 10px;
    width: 34%;  
    height: 67%; 
    box-shadow: 0 0 1px 0 #bac8da;
    background-color: #ffffff;
    padding: 0.5rem;
    box-sizing: border-box;    
}

h1{
    text-align: center;
    font-size:  1rem;
    margin-top: 2.35rem; 
}

.login p
{
    text-align: center;
    color: #65758b;
    font-size: 0.87em; 
}

.box-botones
{
    text-align: center; 
}
.botones
{
    display: inline-flex; 
    width: 95%;
    background-color: #f1f1f1;
    border-radius: 13px;  
    padding: 0.2rem;  
    margin-top: 0.5rem;
}
button
{
    border: none; 
    border-radius: 0.5vw; 
    cursor: pointer;   
    width: 95%;
}
.buton
{ 
    padding: 0.24rem 1rem;
    font-size: 0.47rem; 
}
.boton-iniciar
{
    background-color: #8fa3c0;
    color: white;
}
.boton-registrar
{ 
    color: #65758b;
}
.inicio-sesion h2
{
    font-size: 0.75rem; 
    margin: 0;
    margin-top: 1.42rem;
    margin-left: 0.48rem;
}
.inicio-sesion p{
    text-align: left; 
    margin: 0;
    margin-top: 0.36rem;
    font-size: 0.5rem;
    margin-left: 0.43rem;
}
.espacios
{
    font-size: 0.37rem;      
}
.box{
    text-align: center;
}
input
{ 
    width: 94.6%; 
    border-radius: 7px;
    padding:0.38rem 0.38rem 0.38rem 1.25rem;
    border: none;
    outline: none;
    border: 1px solid #e1e1e1; 
    margin-top: 0.3rem; 
    box-sizing: border-box;
}
input:focus
{ 
    outline: 3px solid #8fa3c0;
    outline-offset: 2px;
}
label
{
    margin: 0;  
    color: #292f3d;
    font-size: 0.4rem;
    font-weight: bolder;
    margin-left: 0.42rem;
}
.formulario
{
    position: relative;
}
i
{
    position: absolute;
    left: 0.68rem;
    top: 44%; 
    color: #8fa3c0; 
    font-size: 0.5rem;
}
.correo
{
    margin-top: 0.96rem;
}
.contraseña
{
    display: flex; 
    justify-content: space-between;  
    margin-top: 0.45rem;  
} 
.contraseña a
{
    margin: 0; 
    color: #8fa3c0;
    text-decoration: none;
    margin-right: 0.6rem;
}
.contraseña a:hover
{
    text-decoration: underline;
}
.boton-iniciarSesion
{ 
    text-align: center;  
}
.boton-iniciar-boton
{
    padding: 0.3rem;
    font-size: 0.56rem;
    width: 95%;
    margin-top: 1rem;
    background-color: #8fa3c0;
    color: white;  
    transition: background-color 0.3s ease; 
}
.boton-iniciar-boton:hover
{
    background-color: #a9bdda;
}

@media (max-width: 1100px) {
    .login-box {
        width: 85vw;
        height: auto;
        padding: 5vw;
    } 
     
    button {
        font-size: 4vw;
        padding: 2vw; 
    }

    h1 {
        font-size: 1.2rem;
        margin-top: 5vh;
    }
}
